<bins>
    <bin id="bin01">
        <collector_address>fe80::204:4:4:4</collector_address>cd 
        <lid_server_address>fe80::202:2:2:2</lid_server_address>
        <lid_actuator_address>fe80::209:9:9:9</lid_actuator_address>
        <compactor_server_address>fe80::205:5:5:5</compactor_server_address>
        <scale_server_address>fe80::206:6:6:6</scale_server_address>
        <waste_level_server_address>fe80::207:7:7:7</waste_level_server_address>
        <compactor_actuator_address>fe80::208:8:8:8</compactor_actuator_address>
    </bin>
</bins>
