<bins>
    <bin id="bin01">
        <collector_address>fe80::f6ce:367b:9c44:e26a</collector_address>cd
        <lid_server_address>fe80::202:2:2:2</lid_server_address>
        <lid_actuator_address>fe80::209:9:9:9</lid_actuator_address>
        <compactor_server_address>fe80::f6ce:36dc:2477:3d6d</compactor_server_address>
        <scale_server_address>fe80::206:6:6:6</scale_server_address>
        <waste_level_server_address>fe80::207:7:7:7</waste_level_server_address>
        <compactor_actuator_address>fe80::208:8:8:8</compactor_actuator_address>
    </bin>
</bins>
